.button {

    &:active, &:focus {
     color: #61dafb;
     outline: none;
    }
    &--speaker {
      color: #61dafb;
      font-size: 20vh;
      background-color: transparent;
    }
  
    &--speaker-active {
      background-color: transparent;
      color: #ff5852;
      font-size: 20vh;
      &:active, &:focus {
       color: #ff5852;
       outline: none;
      }
    }
  
  }